h2 {
    text-align: center;
    font-size: xx-large;
}
label {
    width: 250px;
    display: inline-block;
}
body {
    background-color: aqua;
    background-image: url('https://images.blocksurvey.io/cdn-cgi/imagedelivery/G6cPOuGZ4Z_bEV13gBxixw/templates/security-registration-form.png/l');
}
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding:2rem;
    }
    section{
        padding: 2rem;
    }
    .home{
        background-position: left; 
    }
}
@media(max-width:768px){
    header .fa-bars{
        display: block;
    }
    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,1);
        clip-path: polygon(0 0,100% 0, 100% 0,0 0); 
    }
    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0,100% 0, 100% 100%,0 100%);
    } 
    header .navbar a{
        margin:1.5rem;
        padding:1.5rem 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
    }
    .home .content h3{
        font-size: 5rem;

    }
    .home .content span{
        font-size: 2.5rem;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 3rem;
    }
    
} 